header{
    background-color: #222;
    padding: 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    font-size: 2.8rem;
    font-weight: 200;
    cursor: pointer;
}

header nav{
    display: flex;
    align-items: center;
}

header nav a {
    font-size: 1.2em;
    margin-right: 1.5em;
}

header h1, a {
    color: lightblue;
    transition: 0.3s ease-in-out;
}

header h1:hover, a:hover {
    color: #fff;
}

